{% extends 'main.html' %}

{% load static %}

{% block content %}

<div id="main-container" class="bg-dark">
    <div id="toasts">
        
    </div>
    <div id="left-panel">
        <div id="main-screen" class="">
            <video id="main-screen-video" autoplay playsinline></video>
        </div>
        <div id="participants" class="">
            <div id="local-video-container" class="participant-video-container">
                <video id="local-video" class="participant-video" autoplay playsinline></video>
                <div class="video-overlay">
                    <button class="btn-pin-video-to-showcase rounded-pill btn btn-light" onclick="pinToMainScreen('{{request.user.username}}')"><i class="fa-solid fa-thumbtack"></i></button>
                </div>
            </div>
        </div>
        <div id="toolbar" class="bg-dark btn-group border rounded-0">
            <button id="btn-toggle-audio" class="rounded-0 btn btn-light"><i class="fa-solid fa-microphone-slash me-2"></i>Mute</button>
            <button id="btn-toggle-video" class="rounded-0 btn btn-light"><i class="fa-solid fa-video-slash me-2"></i>Video Off</button>
            <!-- <button id="btn-share-screen" class="rounded-0 btn btn-light"><i class="fa-solid fa-display me-2"></i>Share Screen</button> -->
            <button id="btn-record-screen" class="rounded-0 btn btn-light"><i class="fa-solid fa-record-vinyl me-2"></i>Record Screen</button>
            <button id="btn-raise-hand" class="rounded-0 btn btn-light" onclick="sendRaiseHand()"><i class="fa-solid fa-hand me-2"></i>Raise Hand</button>
            {% if is_host %}
            <button id="btn-toggle-room-visibility" class="rounded-0 btn btn-light" onclick="changeRoomVisibility(this);"><i class="fa-solid fa-door-closed me-2"></i>Close Room</button>
            {% endif %}
            <a href="/" id="btn-exit-call" class="rounded-0 btn btn-light"><i class="fa-solid fa-phone-slash me-2"></i>Leave Call</a>
        </div>
    </div>
    <div id="right-panel" class="bg-light">
        {% if is_host %}
        <div class="accordion" id="waiting_room_list">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" id="waiting-users-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne" onclick="this.classList.remove('bg-warning');">
                        Waiting Room
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse w-100" aria-labelledby="headingOne"
                    data-bs-parent="#waiting_room_list">
                    <div class="accordion-body" id="waiting-users" style="height: 100vh;">
                        <div id="tools" class="btn-group w-100 bg-light mb-3">
                            <button type="button" onclick="acceptAllWaitingUsers()" class="btn btn-success rounded-0 btn-sm">Accept All</button>
                            <button type="button" onclick="rejectAllWaitingUsers()" class="btn btn-danger rounded-0 btn-sm">Reject All</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if is_host %}
        <div id="chat" class="p-3 border chat-2">
        {% else %}
        <div id="chat" class="p-3 border chat-1">
        {% endif %}
            <div id="messages"></div>
            <div class="chat-tools w-100 d-flex">
                <div id="message-name-suggestions" class="bg-white border">
                </div>
                <input id="msg" class="w-100 form-control rounded-0" placeholder="Write a message here">
                <button id="btn-send-msg" class="btn btn-success rounded-0"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>

<audio class="sound-effect" src="{% static 'sounds/new-chat-message.mp3' %}" id="chat-sound"></audio>
<script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
<script type="text/javascript">
    let username = '{{request.user.username}}';
    let roomCode = "{{ room_code }}";
    let isHost = "{{is_host}}" == 'True';
</script>
{% if is_host %}
<script type="text/javascript">
    let waitingRooms = '{{ waiting_room }}' == "True";
    let limit = Number("{{ limit }}");
</script>
{% endif %}
<script type="text/javascript" src="{% static 'js/peer.js' %}"></script>
{% endblock %}
{% block footer_block %}
{% endblock %}