{% extends 'main.html' %}

{% block content %}
    <div class="form-wrapper card">
        <div class="card-header">
            Profile
        </div>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.field.widget.attrs.order == 's' %}
                    <div class="row mb-3">
                    {% endif %}
                    {% if field.field.widget.attrs.order == 'a' %}
                    <div class="row mb-3">
                    {% endif %}
                        <div class="col">
                            {{ field.label_tag }}
                            {{ field }}
    
                            {% if field.help_text %}
                                <small class="text-danger"> {{ field.help_text }} </small>
                            {% endif %}
    
                            {% for error in field.errors %}
                                <p style="color: red;"> {{ error }} </p>
                            {% endfor %}
                        </div>
                    {% if field.field.widget.attrs.order == 'e' %}
                    </div>
                    {% endif %}
                    {% if field.field.widget.attrs.order == 'a' %}
                    </div>
                    {% endif %}
                {% endfor %}
                <button class="btn btn-dark" type="submit">Update</button>
            </form>
        </div>
    </div>
{% endblock %}